* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
}

.logo {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ebc700;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c3e50;
    gap: 1rem;
    padding: 1rem;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
}

h1{
    color: #05002e;
    text-decoration-style: solid;
    text-align: center;
    padding: 1rem;
}

.nav-links a{
    color: #fff;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1100px;
    gap: 1rem;
    padding: 1rem;
}

.bio-hero{
    flex-basis:100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 2rem;

}

.card-grid{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card{
    flex-basis: 100%;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-basis: 100%;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);;
}

footer{
    background-color: #2c3e50;
}

.p-footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ebc700;
    text-align: center;
    padding: 1rem;

}


@media (min-width: 768px){

.navbar{
    flex-direction: row;
    justify-content: space-between;
}


.card-grid{
    flex-direction: row;
    justify-content: space-between;
}

.card{
    flex-basis: 30%;
}

}

